@page "/authors/edit/{Id}"
@attribute [Authorize(Roles ="admin")]

@inject IAuthorRepository _authorRepository
@inject NavigationManager  _navManager

<h3 class="card-title">Edit Single Author</h3>

@if (isFailed)
{
    <LoadMessage Message="Something went wrong with the Author update ..." />
}
@if (Model == null)
{
    <LoadMessage Message="Please wait..."></LoadMessage>
}
else
{
    <EditForm Model="Model" OnValidSubmit="EditAuthor">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="firstname">First Name</label>
            <InputText @bind-Value="Model.Firstname" class="form-control" id="firstname" />
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <InputText @bind-Value="Model.Lastname" class="form-control" id="lastname" />
        </div>
        <div class="form-group">
            <label for="bio">Biography</label>
            <InputTextArea @bind-Value="Model.Bio" class="form-control" id="bio" />
        </div>
        <br />
        <button class="btn btn-primary" type="submit">
            <span class="oi oi-pencil"></span>
            Submit Edit
        </button>
        <button @onclick="BacktoList" class="btn btn-outline-secondary">
            <span class="oi oi-media-step-backward"></span>
            Back to List
        </button>
    </EditForm>
}

@code {
    [Parameter]
    public string Id { get; set; }

    private Author Model = new Author();
    private bool isFailed = false;

    protected async override Task OnInitializedAsync()
    {
        int id = Convert.ToInt32(Id);
        Model = await _authorRepository.Get(Endpoints.AuthorsEndpoint, id);
    }

    private async Task EditAuthor()
    {
        bool isSuccess = await _authorRepository.Update(Endpoints.AuthorsEndpoint, Model, Model.Id);
        if (isSuccess)
        {
            BacktoList();
        }
        else
        {
            isFailed = true;
        }

    }

    private void BacktoList()
    {
        _navManager.NavigateTo("/authors/");
    }
}
